@import url("https://gists.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
